flows.json
[{"id":"33229e49.1f0fa2","type":"tab","label":"AC","disabled":false,"info":""},{"id":"7376df1d.0f7ce","type":"tab","label":"Smart Plug","disabled":false,"info":""},{"id":"38110ef1.52cdf2","type":"tab","label":"3D LED Fan","disabled":false,"info":""},{"id":"b3fb611b.6d90b","type":"tab","label":"API","disabled":false,"info":""},{"id":"e2f1b834.4b1468","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"ddea05e7.b77ed8"}]}],"out":[{"x":980,"y":120,"wires":[{"id":"d42663f3.fb242","port":0}]},{"x":980,"y":200,"wires":[{"id":"86310b71.8d9978","port":0}]},{"x":580,"y":200,"wires":[{"id":"f498be10.514b2","port":2}]}],"env":[],"color":"#DDAA99"},{"id":"9cb425c1.5b38f8","type":"subflow","name":"Smart Plug","info":"","category":"","in":[{"x":120,"y":240,"wires":[{"id":"3a36e304.7fd31c"}]}],"out":[{"x":1300,"y":240,"wires":[{"id":"2c27dbbe.7758b4","port":0}]}],"env":[{"name":"Device_Name","type":"str","value":"sp01"},{"name":"Device_IP","type":"str","value":"192.168.76.129"},{"name":"Enable","type":"bool","value":"false"}],"color":"#DDAA99"},{"id":"e9ae4195.bb6ad","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2c57e7b7.82cb48","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"smart","name":"","usetls":false,"tls":""},{"id":"67caddf.78a0d24","type":"ambi-config","z":"","clientId":"ad573005-d436-40e6-9810-13dc864d11a2","clientSecret":"1b7f77a0-c069-4598-8e03-7e4105e10743","username":"harryzwh@gmail.com","password":"Ambi339"},{"id":"4c993d20.95e954","type":"ui_tab","z":"","name":"UNSW","icon":"dashboard","disabled":false,"hidden":false},{"id":"81173598.63e928","type":"ui_group","z":"","name":"AC","tab":"4c993d20.95e954","order":1,"disp":true,"width":"6","collapse":false},{"id":"f0ee127a.d00a1","type":"ui_group","z":"","name":"3D Fan","tab":"4c993d20.95e954","order":2,"disp":true,"width":"6","collapse":false},{"id":"63b86a25.1f31a4","type":"ui_group","z":"","name":"Smart Plug","tab":"4c993d20.95e954","order":3,"disp":true,"width":"6","collapse":false},{"id":"bfb2722.a22499","type":"mqtt-broker","z":"","name":"emqx","broker":"emqx","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"19db74f1.b16bbb","type":"debug","z":"7376df1d.0f7ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":120,"wires":[]},{"id":"ae753541.8a8698","type":"ambi-sensor-temp","z":"33229e49.1f0fa2","oauthClient":"67caddf.78a0d24","room_name":"","location_name":"","x":500,"y":260,"wires":[["862321d2.6e1ae","8681f92f.fa6d88"]]},{"id":"f722829c.d47e7","type":"inject","z":"33229e49.1f0fa2","name":"","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"room_name\":\"Living\",\"location_name\":\"Home\"}","payloadType":"json","x":230,"y":200,"wires":[["ae753541.8a8698","74be85c5.beb1bc","e4995d0f.37eb8"]]},{"id":"6105f471.43d87c","type":"ui_gauge","z":"33229e49.1f0fa2","name":"Tempturate","group":"81173598.63e928","order":1,"width":0,"height":0,"gtype":"gage","title":"Tempturate","label":"C","format":"{{msg.payload.value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":140,"wires":[]},{"id":"74be85c5.beb1bc","type":"ambi-sensor-humidity","z":"33229e49.1f0fa2","oauthClient":"67caddf.78a0d24","room_name":"","location_name":"","x":490,"y":200,"wires":[["d4154e77.fcbc4","44450c5f.ca8e44"]]},{"id":"df34a195.40812","type":"ui_gauge","z":"33229e49.1f0fa2","name":"","group":"81173598.63e928","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":80,"wires":[]},{"id":"59dc6fe5.52601","type":"ui_slider","z":"33229e49.1f0fa2","name":"","label":"Temp Ctrl","tooltip":"","group":"81173598.63e928","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"settemp","min":"16","max":"28","step":1,"x":500,"y":440,"wires":[["897e10b8.f10a3","a6304141.90c1c"]]},{"id":"b100ae75.e5092","type":"ambi-temp-mode","z":"33229e49.1f0fa2","oauthClient":"67caddf.78a0d24","room_name":"","location_name":"","value":"","x":1250,"y":620,"wires":[]},{"id":"e4995d0f.37eb8","type":"ambi-mode","z":"33229e49.1f0fa2","oauthClient":"67caddf.78a0d24","room_name":"","location_name":"","x":480,"y":320,"wires":[["398c2a48.0a3e96","29765d31.031aa2"]]},{"id":"c1f58182.9f21e","type":"inject","z":"38110ef1.52cdf2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"633065656237633962616133303230303030303030303132636333386c736f31363031b8dfc1c1dcbdc8d8bba82e62696e31343032b8dfc1c1bba8caf82e62696e31343033b8dfc1c1c3b1d7d32e62696e31363034b8dfc1c1c3b5b9e5bba82e62696e31363035b8dfc1c1c7e0bba8b4c92e62696e31363036b8dfc1c1c7e0bba8b5fa2e62696e31383037b8dfc1c1cbabc1fab7c9cee82e62696e31343038b8dfc1c1cef7b9cf2e62696e31383039b8dfc1c1d0d4b8d0c3c0c5ae2e62696e31383130b8dfc1c1b0a2b5cfb4efcbb92e62696e31343131b8dfc1c1b3d4bca62e62696e31343132b8dfc1c1b5c6c1fd2e62696e30383133b4ba2e62696e3039484c31316266623564326132","payloadType":"str","x":190,"y":140,"wires":[["3d4fb032.8f98b"]]},{"id":"3d4fb032.8f98b","type":"function","z":"38110ef1.52cdf2","name":"","func":"var msg_hex = Buffer.from(msg.payload, 'hex');\n\nvar len=msg_hex.length;\nvar cmd_code=msg_hex.slice(26,28);\nif (cmd_code.equals(Buffer.from('3338','hex')))\n{\n    cmd='status';\n}\nvar respone=msg_hex.slice(31,len-8);\nvar ret={payload: {cmd:cmd,respone:respone}};\nreturn ret;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["52870537.4e587c"]]},{"id":"f498be10.514b2","type":"function","z":"e2f1b834.4b1468","name":"","func":"var len=msg.payload.length;\nvar list=msg.payload.slice(0,len-10);\nvar playing=msg.payload.slice(len-6,len-4);\nvar brightness=msg.payload.slice(len-4,len-2);\nvar ret=[{payload: list},\n         {payload: playing.toString()},\n         {payload: brightness.toString()}];\nreturn ret","outputs":3,"noerr":0,"x":410,"y":100,"wires":[["45a299c8.354158"],["86310b71.8d9978"],[]]},{"id":"52870537.4e587c","type":"switch","z":"38110ef1.52cdf2","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"status","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":490,"y":140,"wires":[["9cc245b0.f08808"]]},{"id":"45a299c8.354158","type":"converter","z":"e2f1b834.4b1468","name":"","from":"GBK","x":620,"y":40,"wires":[["c97954db.8ead78"]]},{"id":"c97954db.8ead78","type":"split","z":"e2f1b834.4b1468","name":"","splt":".bin","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":40,"wires":[["c75f42c5.a754d"]]},{"id":"8dfd9624.f0c878","type":"join","z":"e2f1b834.4b1468","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":120,"wires":[["d42663f3.fb242"]]},{"id":"9cc245b0.f08808","type":"subflow:e2f1b834.4b1468","z":"38110ef1.52cdf2","name":"Get status","env":[],"x":690,"y":140,"wires":[["ea9e92ab.9ce1d","6406679e.6c6068"],["ea9e92ab.9ce1d"],["4775d2f1.ecffec"]]},{"id":"49d79eb2.86b39","type":"ui_dropdown","z":"38110ef1.52cdf2","name":"","label":"","tooltip":"","place":"Select option","group":"f0ee127a.d00a1","order":1,"width":"4","height":"1","passthru":false,"options":[],"payload":"","topic":"","x":1220,"y":120,"wires":[["b27c719.b3d799"]]},{"id":"9540c481.15a968","type":"template","z":"38110ef1.52cdf2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"6330656562376339626161333032303030303030303031346363{{payload.cmd}}{{payload.padding}}{{payload.request}}6266623564326132","output":"str","x":1050,"y":480,"wires":[["69557462.85cbbc"]]},{"id":"f184ba8.0fe7a48","type":"inject","z":"38110ef1.52cdf2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":480,"wires":[["4a25ab7b.4481d4"]]},{"id":"56ba839a.6dc89c","type":"debug","z":"38110ef1.52cdf2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1240,"y":340,"wires":[]},{"id":"69557462.85cbbc","type":"function","z":"38110ef1.52cdf2","name":"str2hex","func":"msg.payload  = Buffer.from(msg.payload, 'hex');\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":400,"wires":[["56ba839a.6dc89c","31cb62a.db98f9e"]]},{"id":"4775d2f1.ecffec","type":"debug","z":"38110ef1.52cdf2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":160,"wires":[]},{"id":"ddea05e7.b77ed8","type":"change","z":"e2f1b834.4b1468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.respone","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":100,"wires":[["f498be10.514b2"]]},{"id":"c75f42c5.a754d","type":"function","z":"e2f1b834.4b1468","name":"","func":"var ret={}\nret.payload={[msg.payload]: msg.payload.slice(2,4)}\nif (msg.parts.index==(msg.parts.count-1))\n{\n    ret.complete=true\n}\nreturn ret;","outputs":1,"noerr":0,"x":910,"y":40,"wires":[["8dfd9624.f0c878"]]},{"id":"ea9e92ab.9ce1d","type":"join","z":"38110ef1.52cdf2","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":120,"wires":[["2cdf0afe.63b796"]]},{"id":"d42663f3.fb242","type":"change","z":"e2f1b834.4b1468","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"list","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":120,"wires":[[]]},{"id":"86310b71.8d9978","type":"change","z":"e2f1b834.4b1468","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"selected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":200,"wires":[[]]},{"id":"2cdf0afe.63b796","type":"change","z":"38110ef1.52cdf2","name":"","rules":[{"t":"move","p":"payload.list","pt":"msg","to":"options","tot":"msg"},{"t":"move","p":"payload.selected","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":120,"wires":[["49d79eb2.86b39"]]},{"id":"6406679e.6c6068","type":"debug","z":"38110ef1.52cdf2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":80,"wires":[]},{"id":"1b5df8a7.ee0567","type":"ui_switch","z":"9cb425c1.5b38f8","name":"","label":"${Device_Name}","tooltip":"","group":"63b86a25.1f31a4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1230,"y":340,"wires":[["e9d3792d.27dff8"]]},{"id":"e9d3792d.27dff8","type":"smart-plug","z":"9cb425c1.5b38f8","name":"","device":"${Device_IP}","interval":"10000","eventInterval":1000,"payload":"","payloadType":"none","debug":false,"x":750,"y":240,"wires":[["6fa46345.5d50cc","2c27dbbe.7758b4"]]},{"id":"e38dd211.3393b","type":"tcp in","z":"38110ef1.52cdf2","name":"","server":"server","host":"","port":"5233","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":640,"y":360,"wires":[["f47e3522.976488"]]},{"id":"f47e3522.976488","type":"debug","z":"38110ef1.52cdf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":360,"wires":[]},{"id":"31cb62a.db98f9e","type":"tcp out","z":"38110ef1.52cdf2","host":"127.0.0.1","port":"5233","beserver":"client","base64":false,"end":false,"name":"","x":1240,"y":400,"wires":[]},{"id":"4a25ab7b.4481d4","type":"ui_button","z":"38110ef1.52cdf2","name":"","group":"f0ee127a.d00a1","order":3,"width":"3","height":"1","passthru":true,"label":"Sleep","tooltip":"","color":"","bgcolor":"red","icon":"fa-stop","payload":"{\"cmd\":\"3331\",\"request\":\"\"}","payloadType":"json","topic":"","x":370,"y":480,"wires":[["37e472fe.82b1ce"]]},{"id":"37e472fe.82b1ce","type":"switch","z":"38110ef1.52cdf2","name":"","property":"payload.request","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":480,"wires":[["d099eb5a.df7e78"],["773e9b21.0fa374"]]},{"id":"d099eb5a.df7e78","type":"change","z":"38110ef1.52cdf2","name":"","rules":[{"t":"set","p":"payload.padding","pt":"msg","to":"6c666a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":460,"wires":[["9540c481.15a968"]]},{"id":"773e9b21.0fa374","type":"change","z":"38110ef1.52cdf2","name":"","rules":[{"t":"set","p":"payload.padding","pt":"msg","to":"6c6668","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":500,"wires":[["9540c481.15a968"]]},{"id":"dc6320f7.aba36","type":"inject","z":"38110ef1.52cdf2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":440,"wires":[["782b6ba7.74e064"]]},{"id":"782b6ba7.74e064","type":"ui_button","z":"38110ef1.52cdf2","name":"","group":"f0ee127a.d00a1","order":2,"width":"3","height":"1","passthru":true,"label":"Run","tooltip":"","color":"","bgcolor":"green","icon":"fa-power-off","payload":"{\"cmd\":\"3330\",\"request\":\"\"}","payloadType":"json","topic":"","x":370,"y":440,"wires":[["37e472fe.82b1ce"]]},{"id":"920d686c.f8d498","type":"inject","z":"38110ef1.52cdf2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":520,"wires":[["de0a5068.7a42d"]]},{"id":"de0a5068.7a42d","type":"ui_button","z":"38110ef1.52cdf2","name":"","group":"f0ee127a.d00a1","order":7,"width":"3","height":"1","passthru":true,"label":"Next","tooltip":"","color":"","bgcolor":"","icon":"fa-step-forward","payload":"{\"cmd\":\"3332\",\"request\":\"\"}","payloadType":"json","topic":"","x":370,"y":520,"wires":[["37e472fe.82b1ce"]]},{"id":"803e4f98.f265","type":"inject","z":"38110ef1.52cdf2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":560,"wires":[["1b9bbc8c.437cc3"]]},{"id":"1b9bbc8c.437cc3","type":"ui_button","z":"38110ef1.52cdf2","name":"","group":"f0ee127a.d00a1","order":6,"width":"3","height":"1","passthru":true,"label":"Prev","tooltip":"","color":"","bgcolor":"","icon":"fa-step-backward","payload":"{\"cmd\":\"3333\",\"request\":\"\"}","payloadType":"json","topic":"","x":370,"y":560,"wires":[["37e472fe.82b1ce"]]},{"id":"26fb657b.96bc0a","type":"inject","z":"38110ef1.52cdf2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":600,"wires":[["374b6e15.200742"]]},{"id":"374b6e15.200742","type":"ui_button","z":"38110ef1.52cdf2","name":"","group":"f0ee127a.d00a1","order":4,"width":"3","height":"1","passthru":true,"label":"Play","tooltip":"","color":"","bgcolor":"","icon":"fa-play","payload":"{\"cmd\":\"3334\",\"request\":\"\"}","payloadType":"json","topic":"","x":370,"y":600,"wires":[["37e472fe.82b1ce"]]},{"id":"3ab57256.d02e5e","type":"inject","z":"38110ef1.52cdf2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":640,"wires":[["567b00b7.b3b9"]]},{"id":"567b00b7.b3b9","type":"ui_button","z":"38110ef1.52cdf2","name":"","group":"f0ee127a.d00a1","order":5,"width":"3","height":"1","passthru":true,"label":"Pause","tooltip":"","color":"","bgcolor":"","icon":"fa-pause","payload":"{\"cmd\":\"3335\",\"request\":\"\"}","payloadType":"json","topic":"","x":370,"y":640,"wires":[["37e472fe.82b1ce"]]},{"id":"ad096b83.e154b8","type":"inject","z":"38110ef1.52cdf2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"09","payloadType":"str","x":1050,"y":220,"wires":[["b27c719.b3d799"]]},{"id":"43e2e771.de00b8","type":"change","z":"38110ef1.52cdf2","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.request","tot":"msg"},{"t":"set","p":"payload.cmd","pt":"msg","to":"3430","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":280,"wires":[["37e472fe.82b1ce"]]},{"id":"b27c719.b3d799","type":"function","z":"38110ef1.52cdf2","name":"str2ascii","func":"var Selected=msg.payload\nvar ret=\"\"\nfor(var i=0;i<Selected.length;i++)\n{\n    ret+=3\n    ret+=Selected.charAt(i);\n}\n\nreturn {payload: ret}","outputs":1,"noerr":0,"x":1220,"y":220,"wires":[["43e2e771.de00b8"]]},{"id":"6fa46345.5d50cc","type":"switch","z":"9cb425c1.5b38f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"event","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":340,"wires":[["cfa086cd.f271b8"]]},{"id":"cfa086cd.f271b8","type":"change","z":"9cb425c1.5b38f8","name":"","rules":[{"t":"move","p":"payload.powerOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":340,"wires":[["1b5df8a7.ee0567"]]},{"id":"50828e8f.57f44","type":"ui_gauge","z":"7376df1d.0f7ce","name":"","group":"63b86a25.1f31a4","order":1,"width":"3","height":"3","gtype":"gage","title":"Voltage","label":"V","format":"{{msg.payload.voltage}}","min":"180","max":"260","colors":["#ca3838","#00b500","#ca3838"],"seg1":"200","seg2":"240","x":1100,"y":300,"wires":[]},{"id":"79c451e2.e7839","type":"ui_gauge","z":"7376df1d.0f7ce","name":"","group":"63b86a25.1f31a4","order":2,"width":"3","height":"3","gtype":"gage","title":"Current","label":"A","format":"{{msg.payload.current}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":360,"wires":[]},{"id":"aa696d06.b4e43","type":"ui_gauge","z":"7376df1d.0f7ce","name":"","group":"63b86a25.1f31a4","order":3,"width":0,"height":0,"gtype":"gage","title":"Power","label":"W","format":"{{msg.payload.power}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1090,"y":420,"wires":[]},{"id":"1ceffb9f.686d04","type":"function","z":"7376df1d.0f7ce","name":"Format","func":"var Plug=\n{\n    payload:\n    [\n        {\n            time:Math.floor(new Date() / 1000),\n            voltage:msg.payload.voltage,\n            current:msg.payload.current,\n            power:msg.payload.power\n        },\n        {\n            node:msg.topic\n        }\n    ]\n}\nreturn Plug;","outputs":1,"noerr":0,"x":840,"y":240,"wires":[["14d8eaa3.e8a355","91f8bce3.1681f"]]},{"id":"14d8eaa3.e8a355","type":"debug","z":"7376df1d.0f7ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":180,"wires":[]},{"id":"afb92a01.351f48","type":"ui_dropdown","z":"7376df1d.0f7ce","name":"","label":"","tooltip":"","place":"Select option","group":"63b86a25.1f31a4","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"sp01","value":"sp01","type":"str"},{"label":"sp02","value":"sp02","type":"str"}],"payload":"","topic":"","x":840,"y":480,"wires":[["4de4d8e.ed6c928"]]},{"id":"4de4d8e.ed6c928","type":"change","z":"7376df1d.0f7ce","name":"","rules":[{"t":"set","p":"selected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":480,"wires":[[]]},{"id":"6600721f.1a510c","type":"switch","z":"7376df1d.0f7ce","name":"","property":"selected","propertyType":"flow","rules":[{"t":"regex","v":"topic","vt":"msg","case":true}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":300,"wires":[["50828e8f.57f44","79c451e2.e7839","aa696d06.b4e43"]]},{"id":"3dc22bd4.9e2094","type":"http response","z":"b3fb611b.6d90b","name":"","statusCode":"","headers":{},"x":1130,"y":400,"wires":[]},{"id":"5c9f0456.cc114c","type":"http in","z":"b3fb611b.6d90b","name":"","url":"api/*","method":"get","upload":false,"swaggerDoc":"","x":220,"y":300,"wires":[["d4722f2b.adaf8","d5ab4dbd.81a8d"]]},{"id":"d4722f2b.adaf8","type":"debug","z":"b3fb611b.6d90b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":220,"wires":[]},{"id":"8de8ed29.bf5a1","type":"switch","z":"b3fb611b.6d90b","name":"","property":"req.params.0","propertyType":"msg","rules":[{"t":"regex","v":"plug","vt":"str","case":true},{"t":"regex","v":"3dfan","vt":"str","case":true},{"t":"regex","v":"ac","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":300,"wires":[["b2d9b879.b60ae8","3ab5e6f1.c7da9a","fcf66bd7.63b958"],["f4db0359.3f7f3","3ab5e6f1.c7da9a"],["bff8c735.df03b8","3ab5e6f1.c7da9a"]]},{"id":"b2d9b879.b60ae8","type":"debug","z":"b3fb611b.6d90b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":400,"wires":[]},{"id":"fcf66bd7.63b958","type":"link out","z":"b3fb611b.6d90b","name":"","links":["722fbe7f.0cfef"],"x":795,"y":160,"wires":[]},{"id":"722fbe7f.0cfef","type":"link in","z":"7376df1d.0f7ce","name":"","links":["fcf66bd7.63b958"],"x":175,"y":180,"wires":[["9395bea.260df4","d222e052.7487f","9a48ca4f.4b9808","f270cad7.c28ad8","7f994e2f.c35bd","b884686b.22d088"]]},{"id":"9395bea.260df4","type":"subflow:9cb425c1.5b38f8","z":"7376df1d.0f7ce","name":"","env":[],"x":370,"y":180,"wires":[["19db74f1.b16bbb","90e26401.8943e8"]]},{"id":"2c27dbbe.7758b4","type":"change","z":"9cb425c1.5b38f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Device_Name","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":240,"wires":[[]]},{"id":"3a36e304.7fd31c","type":"switch","z":"9cb425c1.5b38f8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"api","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":240,"wires":[["586a9e53.a126b"],["e9d3792d.27dff8"]]},{"id":"586a9e53.a126b","type":"switch","z":"9cb425c1.5b38f8","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"regex","v":"Device_Name","vt":"env","case":true}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["272e70e8.dfd86"]]},{"id":"dabca646.096718","type":"change","z":"9cb425c1.5b38f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":120,"wires":[["e9d3792d.27dff8"]]},{"id":"19783dd.50cdbc2","type":"function","z":"7376df1d.0f7ce","name":"Format","func":"var event\nif (msg.payload.powerOn)\n{\n    event=\"Power On\"\n}\nelse\n{\n    event=\"Power Off\"\n}\nvar Plug=\n{\n    payload:\n    [\n        {\n            time:Math.floor(new Date() / 1000),\n            event:event\n        },\n        {\n            node:msg.topic\n        }\n    ]\n}\nreturn Plug;","outputs":1,"noerr":0,"x":840,"y":180,"wires":[["14d8eaa3.e8a355","91f8bce3.1681f"]]},{"id":"91f8bce3.1681f","type":"influxdb out","z":"7376df1d.0f7ce","influxdb":"2c57e7b7.82cb48","name":"","measurement":"plug","precision":"s","retentionPolicy":"","x":1150,"y":240,"wires":[]},{"id":"90e26401.8943e8","type":"switch","z":"7376df1d.0f7ce","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"event","vt":"str"},{"t":"hask","v":"voltage","vt":"str"},{"t":"hask","v":"sysInfo","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":180,"wires":[["19783dd.50cdbc2"],["1ceffb9f.686d04","6600721f.1a510c"],["e36d5b09.0d4208"]]},{"id":"e62f3cfb.a4d3b","type":"inject","z":"9cb425c1.5b38f8","name":"","repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"false","payloadType":"bool","x":250,"y":280,"wires":[["70f550bf.0f6c8"]]},{"id":"180100f1.7dce4f","type":"inject","z":"9cb425c1.5b38f8","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"getPowerEvents","payloadType":"str","x":210,"y":320,"wires":[["70f550bf.0f6c8"]]},{"id":"70b40f06.669a5","type":"inject","z":"9cb425c1.5b38f8","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"getMeterInfo","payloadType":"str","x":220,"y":360,"wires":[["70f550bf.0f6c8"]]},{"id":"272e70e8.dfd86","type":"switch","z":"9cb425c1.5b38f8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"regex","v":"switch","vt":"str","case":true},{"t":"regex","v":"getinfo","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":120,"wires":[["dabca646.096718"],["3fb31755.5d8fb8"]]},{"id":"3fb31755.5d8fb8","type":"change","z":"9cb425c1.5b38f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"getQuickInfo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["e9d3792d.27dff8"]]},{"id":"b96cc141.3a357","type":"link in","z":"b3fb611b.6d90b","name":"","links":["e36d5b09.0d4208"],"x":975,"y":160,"wires":[["4c35f176.23db7"]]},{"id":"e36d5b09.0d4208","type":"link out","z":"7376df1d.0f7ce","name":"","links":["b96cc141.3a357"],"x":795,"y":360,"wires":[]},{"id":"3ab5e6f1.c7da9a","type":"switch","z":"b3fb611b.6d90b","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"regex","v":"getinfo","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":300,"wires":[["4c35f176.23db7"],["3dc22bd4.9e2094"]]},{"id":"4c35f176.23db7","type":"join","z":"b3fb611b.6d90b","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":300,"wires":[["3dc22bd4.9e2094"]]},{"id":"d5ab4dbd.81a8d","type":"change","z":"b3fb611b.6d90b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"api","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["8de8ed29.bf5a1"]]},{"id":"f4db0359.3f7f3","type":"link out","z":"b3fb611b.6d90b","name":"","links":["fa54266.cf2f3d8"],"x":795,"y":200,"wires":[]},{"id":"fa54266.cf2f3d8","type":"link in","z":"38110ef1.52cdf2","name":"","links":["f4db0359.3f7f3"],"x":135,"y":340,"wires":[["6c99037b.c25fdc"]]},{"id":"6c99037b.c25fdc","type":"change","z":"38110ef1.52cdf2","name":"","rules":[{"t":"delete","p":"payload.name","pt":"msg"},{"t":"move","p":"payload.action","pt":"msg","to":"payload.cmd","tot":"msg"},{"t":"move","p":"payload.value","pt":"msg","to":"payload.request","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":340,"wires":[["b6477817.4a29b8"]]},{"id":"b6477817.4a29b8","type":"switch","z":"38110ef1.52cdf2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"request","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":340,"wires":[["37e472fe.82b1ce"],["66dcba7f.8e7354"]]},{"id":"66dcba7f.8e7354","type":"change","z":"38110ef1.52cdf2","name":"","rules":[{"t":"set","p":"payload.request","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":400,"wires":[["37e472fe.82b1ce"]]},{"id":"70f550bf.0f6c8","type":"switch","z":"9cb425c1.5b38f8","name":"","property":"Enable","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":320,"wires":[["e9d3792d.27dff8"]]},{"id":"bcbf8f79.fa325","type":"inject","z":"7376df1d.0f7ce","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"toggle","payloadType":"str","x":130,"y":120,"wires":[["9395bea.260df4"]]},{"id":"d222e052.7487f","type":"subflow:9cb425c1.5b38f8","z":"7376df1d.0f7ce","d":true,"name":"","env":[],"x":370,"y":240,"wires":[["90e26401.8943e8"]]},{"id":"9a48ca4f.4b9808","type":"subflow:9cb425c1.5b38f8","z":"7376df1d.0f7ce","d":true,"name":"","env":[],"x":370,"y":300,"wires":[["90e26401.8943e8"]]},{"id":"f270cad7.c28ad8","type":"subflow:9cb425c1.5b38f8","z":"7376df1d.0f7ce","d":true,"name":"","env":[],"x":370,"y":360,"wires":[["90e26401.8943e8"]]},{"id":"7f994e2f.c35bd","type":"subflow:9cb425c1.5b38f8","z":"7376df1d.0f7ce","d":true,"name":"","env":[],"x":370,"y":420,"wires":[["90e26401.8943e8"]]},{"id":"b884686b.22d088","type":"subflow:9cb425c1.5b38f8","z":"7376df1d.0f7ce","d":true,"name":"","env":[],"x":370,"y":480,"wires":[["90e26401.8943e8"]]},{"id":"d4154e77.fcbc4","type":"change","z":"33229e49.1f0fa2","name":"","rules":[{"t":"set","p":"type","pt":"msg","to":"Humi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["9ceb4f9c.6bd33"]]},{"id":"9ceb4f9c.6bd33","type":"join","z":"33229e49.1f0fa2","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"type","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":260,"wires":[["6047e51d.78eadc","55ca9079.0938e","48f309a.ff5d7f8"]]},{"id":"862321d2.6e1ae","type":"change","z":"33229e49.1f0fa2","name":"","rules":[{"t":"set","p":"type","pt":"msg","to":"Temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":260,"wires":[["9ceb4f9c.6bd33"]]},{"id":"6047e51d.78eadc","type":"function","z":"33229e49.1f0fa2","name":"Format","func":"var AC=\n{\n    payload:\n    [\n        {\n            time:Math.floor(new Date() / 1000),\n            Tempturate:msg.payload.Temp.value,\n            Humidity:msg.payload.Humi.value\n        },\n        {\n            node:msg.payload.Temp.room_name\n        }\n    ]\n}\nreturn AC;","outputs":1,"noerr":0,"x":1120,"y":260,"wires":[["17913d53.9a01d3"]]},{"id":"17913d53.9a01d3","type":"influxdb out","z":"33229e49.1f0fa2","influxdb":"2c57e7b7.82cb48","name":"","measurement":"ac","precision":"s","retentionPolicy":"","x":1060,"y":200,"wires":[]},{"id":"8681f92f.fa6d88","type":"range","z":"33229e49.1f0fa2","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload.value","name":"","x":720,"y":140,"wires":[["6105f471.43d87c"]]},{"id":"44450c5f.ca8e44","type":"range","z":"33229e49.1f0fa2","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload.value","name":"","x":720,"y":80,"wires":[["df34a195.40812"]]},{"id":"bff8c735.df03b8","type":"link out","z":"b3fb611b.6d90b","name":"","links":["614fc30b.f8e65c"],"x":795,"y":240,"wires":[]},{"id":"614fc30b.f8e65c","type":"link in","z":"33229e49.1f0fa2","name":"","links":["bff8c735.df03b8"],"x":75,"y":680,"wires":[["d99c20f5.3e1d9","5aa39add.e02c64"]]},{"id":"11c6999d.99fd76","type":"switch","z":"33229e49.1f0fa2","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"regex","v":"getinfo","vt":"str","case":true},{"t":"regex","v":"switch","vt":"str","case":true},{"t":"regex","v":"settemp","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":560,"wires":[["95135319.a6376"],["d11d6d31.505de"],["6f001641.b81bd8"]]},{"id":"95135319.a6376","type":"change","z":"33229e49.1f0fa2","name":"","rules":[{"t":"delete","p":"payload.action","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":320,"wires":[["e4995d0f.37eb8","ae753541.8a8698","74be85c5.beb1bc"]]},{"id":"55ca9079.0938e","type":"switch","z":"33229e49.1f0fa2","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"api","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":320,"wires":[["958fa693.e1e128"]]},{"id":"958fa693.e1e128","type":"link out","z":"33229e49.1f0fa2","name":"","links":["5a8d9b23.e6ce94"],"x":1215,"y":320,"wires":[]},{"id":"5a8d9b23.e6ce94","type":"link in","z":"b3fb611b.6d90b","name":"","links":["958fa693.e1e128"],"x":975,"y":240,"wires":[["4c35f176.23db7"]]},{"id":"a1341f99.3c2b7","type":"ambi-power-off","z":"33229e49.1f0fa2","oauthClient":"67caddf.78a0d24","room_name":"","location_name":"","x":1040,"y":560,"wires":[]},{"id":"ee34644d.2cfa18","type":"ui_button","z":"33229e49.1f0fa2","name":"","group":"81173598.63e928","order":6,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"switch","x":510,"y":500,"wires":[["a6304141.90c1c"]]},{"id":"be02166f.e7b3b8","type":"split","z":"33229e49.1f0fa2","name":"","splt":":","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":490,"y":740,"wires":[["1818006e.12809"]]},{"id":"d99c20f5.3e1d9","type":"change","z":"33229e49.1f0fa2","name":"","rules":[{"t":"move","p":"payload.name","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":740,"wires":[["be02166f.e7b3b8"]]},{"id":"1818006e.12809","type":"join","z":"33229e49.1f0fa2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":740,"wires":[["682909f7.a5cb18"]]},{"id":"682909f7.a5cb18","type":"function","z":"33229e49.1f0fa2","name":"","func":"var ret={}\nret.payload=\n{\n    location_name: msg.payload[0],\n    room_name: msg.payload[1]\n}\nreturn ret;","outputs":1,"noerr":0,"x":850,"y":740,"wires":[["5aa39add.e02c64"]]},{"id":"5aa39add.e02c64","type":"join","z":"33229e49.1f0fa2","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":230,"y":680,"wires":[["b728c764.a257d8"]]},{"id":"b728c764.a257d8","type":"change","z":"33229e49.1f0fa2","name":"","rules":[{"t":"delete","p":"payload.name","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":680,"wires":[["11c6999d.99fd76"]]},{"id":"6f001641.b81bd8","type":"change","z":"33229e49.1f0fa2","name":"","rules":[{"t":"delete","p":"payload.action","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":620,"wires":[["b100ae75.e5092"]]},{"id":"d11d6d31.505de","type":"switch","z":"33229e49.1f0fa2","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"regex","v":"off","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":560,"wires":[["4501b560.03018c"]]},{"id":"4501b560.03018c","type":"change","z":"33229e49.1f0fa2","name":"","rules":[{"t":"delete","p":"payload.action","pt":"msg"},{"t":"delete","p":"payload.value","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":560,"wires":[["a1341f99.3c2b7"]]},{"id":"398c2a48.0a3e96","type":"change","z":"33229e49.1f0fa2","name":"","rules":[{"t":"delete","p":"payload.room_name","pt":"msg"},{"t":"delete","p":"payload.location_name","pt":"msg"},{"t":"delete","p":"payload.mode","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"},{"t":"delete","p":"payload.value","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":380,"wires":[["59dc6fe5.52601"]]},{"id":"29765d31.031aa2","type":"change","z":"33229e49.1f0fa2","name":"","rules":[{"t":"set","p":"type","pt":"msg","to":"Mode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":320,"wires":[["9ceb4f9c.6bd33"]]},{"id":"a6304141.90c1c","type":"trigger","z":"33229e49.1f0fa2","name":"","op1":"{\"room_name\":\"Living\",\"location_name\":\"Home\"}","op2":"","op1type":"json","op2type":"nul","duration":"1","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":720,"y":500,"wires":[["e35a6918.da5218"]]},{"id":"897e10b8.f10a3","type":"change","z":"33229e49.1f0fa2","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":440,"wires":[["3912af32.3ed33"]]},{"id":"3912af32.3ed33","type":"join","z":"33229e49.1f0fa2","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":440,"wires":[["b100ae75.e5092"]]},{"id":"e35a6918.da5218","type":"switch","z":"33229e49.1f0fa2","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"settemp","vt":"str","case":true},{"t":"regex","v":"switch","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":500,"wires":[["3912af32.3ed33"],["a1341f99.3c2b7"]]},{"id":"48f309a.ff5d7f8","type":"debug","z":"33229e49.1f0fa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":380,"wires":[]},{"id":"bd4b5898.155618","type":"mqtt out","z":"b3fb611b.6d90b","name":"","topic":"OTA","qos":"0","retain":"false","broker":"bfb2722.a22499","x":650,"y":520,"wires":[]},{"id":"a2c7e474.681628","type":"inject","z":"b3fb611b.6d90b","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Version\":\"10101\",\"Url\":\"http://192.168.76.124:1880/ota1\"}","payloadType":"json","x":250,"y":520,"wires":[["bd4b5898.155618"]]},{"id":"a200737b.77807","type":"http in","z":"b3fb611b.6d90b","name":"","url":"/ota1","method":"get","upload":false,"swaggerDoc":"","x":240,"y":680,"wires":[["a05ee741.928118"]]},{"id":"a05ee741.928118","type":"file in","z":"b3fb611b.6d90b","name":"","filename":"/home/pi/AirSen_10101.bin","format":"","x":460,"y":680,"wires":[["7f9fb6fc.02a7c8"]]},{"id":"7f9fb6fc.02a7c8","type":"change","z":"b3fb611b.6d90b","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/octet-stream","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":680,"wires":[["ca5f0a2b.7209c8"]]},{"id":"ca5f0a2b.7209c8","type":"http response","z":"b3fb611b.6d90b","name":"","statusCode":"","headers":{},"x":930,"y":680,"wires":[]},{"id":"8903d079.fd692","type":"http in","z":"b3fb611b.6d90b","name":"","url":"/ota2","method":"get","upload":false,"swaggerDoc":"","x":240,"y":740,"wires":[["71f0b465.e6aebc"]]},{"id":"71f0b465.e6aebc","type":"file in","z":"b3fb611b.6d90b","name":"","filename":"/home/pi/AirSen_10103.bin","format":"","x":460,"y":740,"wires":[["47ec297e.f675d8"]]},{"id":"47ec297e.f675d8","type":"change","z":"b3fb611b.6d90b","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/octet-stream","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":740,"wires":[["66293ca1.054c04"]]},{"id":"66293ca1.054c04","type":"http response","z":"b3fb611b.6d90b","name":"","statusCode":"","headers":{},"x":930,"y":740,"wires":[]},{"id":"306a046.84441fc","type":"inject","z":"b3fb611b.6d90b","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Version\":\"10103\",\"Url\":\"http://192.168.76.124:1880/ota2\"}","payloadType":"json","x":250,"y":580,"wires":[["bd4b5898.155618"]]}]